<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login RFID-Check</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    

    
        <div class="login-container">
            <h1>Einloggen in Anwesendheitskontrolle Fia26</h1>
            <form method="post">
                <div class="form-group">
                    <label for="username">Benutzername</label>
                    <input type="text" id="username" placeholder="Benutzername eingeben" required>
                </div>
                <div class="form-group">
                    <label for="password">Passwort</label>
                    <input type="password" id="password" placeholder="Passwort eingeben" required>
                </div>
                <button type="submit" class="login-btn">Login</button>
            </form>
           
        </div>
        <script src="script.js"></script>
</body>
</html>